*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sec{
    /* background-image: linear-gradient(to left, rgb(174, 181, 221),rgb(224, 204, 219)); */
    background-image: url('../image/14594.jpg');
    background-size: cover;
    margin-top: -10px;
    height: 90vh;
}

.gray-sec{
    background-color: aliceblue;
    float: flex;
    flex: 2;
    padding-left: 7%;

}
.gray-sec div{
   display: inline-block;
   padding: 2%;
   margin-left: 8%;
   background-color: aliceblue;

}
.gray-sec i{
    display: inline-block;
    margin-left: 50%;

    /* text-align: center; */
    /* margin-right: 50px; */
 }
 .gray-sec :hover{
     background-color: rgb(245, 241, 241);
     color: rgb(237, 66, 126);
     cursor:pointer;
 }

.footer{
    background-color: rgb(245, 149, 169);
    height: 100px;
}
.footer .icons{
    /* color:  rgb(245, 149, 169); */
   color:white;
    font-size:40px;
    float:right;
    margin:30px 30px;
}
.a{
    margin-top: 6%;
}

.ii{
    display: inline-block;
    margin-top: 8px;
    background-color: pink;
}

.navbar-header i{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
   color: deeppink;
}
h1{
    text-align: center;
    margin-top: 50px;
}
button{
    margin-left: 50%;
    margin-top: 30px;
    display: inline;
}

.btn{
    width: 120px;
    background-color: pink;
    /* text-align: left; */
    margin-left: 0%;
}
.active{
    background-color: red;
}
 a{
    display: inline-block;
    margin-left: 30px;
}
div.aa{
    width: 60px;
    height: 30px;
    margin: auto;
    background-color: bisque;
    margin-top: 80px;
}



